html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/* Main Styles */

/* Fonts */
@font-face {
    font-family: 'InterRegular';
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'InterMedium';
    src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: 'InterLight';
    src: url(../fonts/Inter-Light.ttf);
}

@font-face {
    font-family: 'InterEL';
    src: url(../fonts/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'InterEB';
    src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'InterBold';
    src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: 'InterSemiBold';
    src: url(../fonts/Inter-SemiBold.ttf);
}

body {
    font-family: 'InterRegular', sans-serif;
}

/* Containers */
.header-container,
.problem-section-container,
.enjoy-section-container,
.solution-container,
.pricing-container,
.contact-section-container,
.contacts-list-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: #171836;
    padding: 20px 0 49px 0;
    overflow: hidden;
}

.header-menu {
    display: flex;
    align-items: center;
    font-family: 'InterMedium', sans-serif;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'InterSemiBold', sans-serif;
    text-decoration: none;
}

.header-menu--items {
    font-size: 14px;
    line-height: 17px;
    flex: none;
    margin-left: -250px;
}

.header-menu--items a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin: 0 22px;
    transition: .5s;
}

.header-menu--items a:hover {
    color: rgba(255, 255, 255, 1);
    font-family: 'InterMedium', sans-serif;
}


.change-language {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.change-option {
    display: flex;
    align-items: center;
}

.change-language .language-id {
    font-size: 12px;
    line-height: 150%;
    color: #D1D1D7;
    margin-right: 5px;
}

.change-language .change-language-svg {
    margin-right: 31px;
}

.change-language a {
    width: 102px;
    height: 41px;
    left: 1218px;
    top: 19px;
    background: #FF842A;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .5s;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header-menu #close {
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto 0 auto;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 0;

}

.header-phone-cta {
    max-width: 478px;


}

.header-phone-cta .cta-tittle {
    font-size: 56px;
    line-height: 130%;
    letter-spacing: -0.01em;
    font-family: 'InterSemiBold', sans-serif;
    margin-bottom: 30px;
}

.header-phone-cta .cta-desription {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 41px;

}

.cta-button {
    background: #BB17F4;
    border-radius: 8px;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.235em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 66px;
    width: 354px;
    font-family: 'InterEB', sans-serif;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: .5s;
}

.cta-button:hover {
    background: #4c0b62;
}

.header-phone-video::after {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(150px);
    position: absolute;
    width: 532px;
    height: 532px;
    top: 50px;
    left: -150px;
    z-index: -1;
}

.header-phone-video::before {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(150px);
    position: absolute;
    width: 597px;
    height: 597px;
    bottom: -400px;
    right: -600px;
    z-index: -1;
}

.header-phone-img,
.header-phone-img svg {
    filter: none;
    z-index: 1 !important;
}

.problem-section {
    padding-top: 75px;
    padding-bottom: 110px;
}

.problem-tittle {
    font-size: 56px;
    line-height: 150%;
    text-align: center;
    color: #5D5D72;
    font-family: 'InterSemiBold', sans-serif;
}

.problem-list {
    display: flex;
    font-size: 22px;
    line-height: 150%;
    font-family: 'InterSemiBold';
    color: rgba(56, 57, 56, 0.9);
    flex-wrap: wrap;
    justify-content: center;
}

.problem-list-item {
    margin-top: 85px;
    display: flex;
    align-items: center;
    max-width: 385px;
    margin-right: 47px;
}

.p-list-img {
    margin-right: 15px;
}

.enjoy-section {
    background: #171836;
    max-height: 951px;
    overflow: hidden;
}

.enjoy-section-img {
    max-width: 761px;
    margin-left: -160px;
    margin-right: 50px;
}

.enjoy-section-img img {
    width: 100%;
}

.enjoy-section-container {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.enjoy-section-offer {
    max-width: 484px;
    z-index: 2;
}

.enjoy-section-offer-tittle {
    font-size: 56px;
    line-height: 130%;
    font-family: 'InterMedium', sans-serif;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}

.solution-section {
    overflow: hidden;
}

.enjoy-description {
    font-size: 30px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.9);
    max-width: 400px;
    margin-bottom: 75px;
}

.enjoy-section ul {
    font-size: 22px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 80px;
}

.enjoy-section ul li {
    list-style-type: none;
}

.enjoy-section ul li::before {
    content: " ";
    width: 10px;
    height: 10px;
    background: #BB17F4;
    display: inline-flex;
    border-radius: 50%;
    align-items: flex-end;
    margin-right: 10px;
}

.enjoy-section .cta-button {
    margin-bottom: 130px;
}

.solution-img {
    height: 841px;
    margin-right: -159px;
    width: 761px;

}

.solution-repeat {
    display: none;
}

.solution-img img {
    height: 100%;
    width: 100%;
}

.solution-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.solution-text {
    max-width: 478px;
    margin-right: 150px;
}

.solution-text::after {
    content: " ";
    width: 500px;
    display: block;
    position: absolute;
    height: 841px;
    top: 0;
    left: calc(41%);
    background: linear-gradient(89.99deg, #FFFFFF 27.9%, rgba(255, 255, 255, 0.610294) 52.42%, rgba(255, 255, 255, 0) 82.23%);
    z-index: 2;
}

.solution-tittle {
    font-size: 49px;
    line-height: 150%;
    color: rgba(23, 24, 54, 0.7);
    font-family: 'InterMedium', sans-serif;
    margin-bottom: 34px;
}

.soution-subtittle {
    font-size: 30px;
    line-height: 150%;
    color: rgba(23, 24, 54, 0.9);
    margin-bottom: 52px;
}

.sol-description {
    font-size: 22px;
    line-height: 150%;
    /* or 33px */


    color: rgba(23, 24, 54, 0.9);
}

.pricing {
    background: #171836;
    padding-top: 69px;
    padding-bottom: 115px;
}

.pricing-tittle {
    text-align: center;
    margin-bottom: 117px;
}

.pricing-card {
    width: 372px;
    height: 515px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
    border-radius: 20px;
    padding: 33px 36px 50px 36px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 3px solid #2e3064;
    height: 545px;


}

.card-name {
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'InterMedium', sans-serif;
    margin-bottom: 20px;
}

.card-price {
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #FFFFFF;
    font-family: 'InterBold', sans-serif;
    margin-bottom: 33px;
}

.card-price span {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.header-mobile-menu {
    display: none;
}

.header-menu.active {
    display: flex;
}

.header-mobile-menu svg {
    width: 40px;
    height: 40px;
    fill: #FF832A;
}


.card-like-count,
.card-like-count span.over {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    margin-bottom: 33px;
}

.card-like-count span {
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
}

.pricing-card ul {
    padding-left: 0;
}

.pricing-card ul li {
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    list-style-type: none;
    text-align: start;
    margin-bottom: 7px;
    max-width: 271px;
}


.pricing-card ul.first li:before {
    content: " ";
    width: 10px;
    height: 10px;
    background: #3BF5BD;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-flex;
}

.pricing-card ul.second li:before {
    content: " ";
    width: 10px;
    height: 10px;
    background: #3BF5BD;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-flex;
}

.pricing-card ul.third li:before {
    content: " ";
    width: 10px;
    height: 10px;
    background: #3BF5BD;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-flex;
}

.card-button {
    font-size: 16px;
    line-height: 19px;
    width: 300px;
    height: 51px;
    background: none;
    border-radius: 6px;
    margin-top: 94px;
    cursor: pointer;
    font-family: 'InterBold', sans-serif;
    transition: .5s;
}


.card-button.first {
    color: #0CF3AD;
    border: 1px solid #0CF3AD;

}

.card-button.second {
    border: 1px solid #FF832A;
    color: #FF832A;
    margin-top: 60px;
}

.card-button.third {
    border: 1px solid #F6C64B;
    ;
    color: #F6C64B;
    margin-top: 5px;
}

.card-button:hover {
    background-color: #BB17F4;
    color: #fff;
    border: 0;
}

.pricing-card::after {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    filter: blur(150px);
    position: absolute;
    width: 597px;
    height: 597px;
    z-index: -1;
    bottom: -500px;
    left: calc(50% - 298.5px);
    transition: .5s;

}

.pricing-card:hover::after {
    transform: translateY(-800px);

}


.pricing-card.second::after {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    filter: blur(150px);
    position: absolute;
    width: 597px;
    height: 597px;
    z-index: -1;
    bottom: -500px;
    left: calc(50% - 298.5px);
}

.pricing-card.third::after {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    filter: blur(150px);
    position: absolute;
    width: 597px;
    height: 597px;
    z-index: -1;
    bottom: -500px;
    left: calc(50% - 298.5px);
}

.pricing-card.first:hover .pricing-card.first::after {
    top: 0;
}

.pricing-card:hover .pricing-card::after {
    top: -200px;
    right: -100px;
}

.pricing-card-list {
    display: flex;
    justify-content: space-between;
}

.contact-section-container {
    text-align: center;
    padding-top: 146px;
    padding-bottom: 133px;
}

.contact-section-container form {
    margin-top: 120px;
}

.contact-section-container form input {
    width: 370px;
    height: 66px;
    background: #E0E0E0;
    border: 0;
    outline: 0;
    padding: 0 20px;
    border-radius: 6px;
    box-sizing: border-box;
}

.contact-section-container form input::placeholder {
    font-size: 16px;
    line-height: 150%;
    color: #03101A;
    opacity: 0.7;
}

.contact-section-container form button {
    width: 211.62px;
    height: 65px;
    background: #BB17F4;
    border: 0;
    outline: 0;
    border-radius: 0 6px 6px 0;
    margin-left: -10px;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    font-family: 'InterEB', sans-serif;
    box-sizing: border-box;
    transition: .5s;
}

.contacts-list {
    background: #171836;
    padding-top: 91px;
    padding-bottom: 130px;
}

.contacts {
    font-size: 30px;
    line-height: 150%;
    font-family: 'InterMedium', sans-serif;
    color: rgba(255, 255, 255, 0.9);
}

.contact-section-container form button:hover {
    background-color: #570c70;
    cursor: pointer;
}

/* Blurs */
.problem-section::before {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(150px);
    position: absolute;
    width: 505px;
    height: 473px;
    z-index: -1;
    top: -500px;
    left: -400px;
}

.solution-section::before {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(150px);
    position: absolute;
    width: 505px;
    height: 473px;
    z-index: -1;
    left: -400px;
    display: none;
}

.problem-section::after {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(150px);
    position: absolute;
    width: 737px;
    height: 545px;
    z-index: -1;
    right: -480px;
    top: 600px;
}

.problem-section,
.enjoy-section,
.pricing,
.contact-section {
    overflow: hidden;
    position: relative;
}

.enjoy-section::before {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(150px);
    position: absolute;
    width: 597px;
    height: 597px;
    z-index: 0;
    right: -400px;
    top: 100px;
}

.pricing::before {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(150px);
    position: absolute;
    width: 1367px;
    height: 377px;
    z-index: 0;
    right: 400px;
    top: 950px;
}

.contact-section::before {
    content: ' ';
    background: rgba(166, 6, 222, 0.89);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(150px);
    position: absolute;
    width: 737px;
    height: 545px;
    z-index: 0;
    left: -150px;
    bottom: -600px;
}



.change-language a:hover {
    background-color: #874618;
}

.change-option {
    transition: .5s;
}

.change-option:hover {
    opacity: 0.6;
}

.header-phone-img {
    overflow: hidden;
    border-radius: 6px;
}

#video {
    border-radius: 6px !important;
    max-width: 277px;
    max-height: 577px;
}

@media screen and (max-width: 1519px) {
    .solution-img {
        margin-right: -130px;
    }
}

@media screen and (max-width: 1458px) {
    .solution-img {
        margin-right: -100px;
    }
}


@media screen and (max-width: 1280px) {
    .solution-img {
        margin-right: -20px;
        height: 83%;
        width: 84%;
        margin-bottom: -1px;
    }

    .solution-text::after {
        height: 655px;
    }

}

@media screen and (max-width: 1240px) {
    .solution-img {
        margin-right: -20px;
        height: 63%;
        width: 64%;
        margin-bottom: -1px;
    }

    .solution-text::after {
        height: 657px;
    }

}

@media screen and (max-width: 1230px) {

    .header-container,
    .problem-section-container,
    .enjoy-section-container,
    .solution-container,
    .pricing-container {
        padding: 0 20px;
    }

    .solution-text::after {
        height: 645px;
    }

    .solution-tittle {
        font-size: 44px;
    }

    .soution-subtittle {
        font-size: 26px;
    }

    .sol-description {
        font-size: 19px;
    }

    .solution-text {
        margin-right: 10px;
    }

    .solution-img {
        width: 472px;
        height: 513px;
        position: absolute;
        right: 0;
        margin: 0;
    }

    .solution-text::after {
        height: 499px;
    }

    .solution-section {
        position: relative;
        padding-top: 54px;
        overflow: hidden;
    }

    .solution-container {
        justify-content: flex-start;
        margin-left: 20px;
    }

    .solution-text::after {
        height: 444px;
        left: calc(49%);
        top: -54px;
    }

    .solution-section {
        padding-top: 28px;
        padding-bottom: 20px;
    }

    .solution-text::after {
        height: 465px;
        left: calc(51%);
    }

    .problem-list {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 1180px) {
    .enjoy-section-offer-tittle {
        font-size: 44px;
    }

    .enjoy-description {
        font-size: 24px;
    }

    .enjoy-section ul {
        font-size: 19px;
        padding-left: 0;
    }

    .pricing-card-list {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        margin-bottom: 25px;
    }

    .contacts-list-container {
        padding: 0 30px;
    }

    .header-menu--items {
        margin-left: 0;
    }
}

@media screen and (max-width: 975px) {
    .solution-img {
        position: none;
    }

    .solution-section::before {
        display: block;
    }

    .solution-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        text-align: center;
    }

    .solution-text::after {
        display: none;
    }

    .solution-img img {
        display: none;
    }
}

@media screen and (max-width: 975px) {
    .header-phone-cta .cta-tittle {
        font-size: 44px;
    }

    .header-phone-cta .cta-desription {
        font-size: 19px;
    }

    .cta-button {
        font-size: 15px;
        height: 57px;
        width: 315px;
    }
}

@media screen and (max-width: 815px) {
    .solution-repeat {
        display: block;
        width: 100%;
        height: 100%;
    }

    .solution-section::before {
        display: block;
        left: 308px;
        top: 640px;
    }

    .solution-section {
        padding-top: 0;
    }

    .solution-repeat {
        width: 112%;
        margin-left: -20px;
    }

    .solution-tittle {
        margin-top: 30px;
    }

    .enjoy-section-img img {
        display: none;
    }

    .enjoy-section-container {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 50px;
    }

    .enjoy-description {
        max-width: none;
    }

    .enjoy-section-offer {
        margin-right: -70px;
    }

    .problem-list {
        margin-right: 135px;
    }

    .header-content {
        flex-direction: column-reverse;
    }

    .header-phone-cta {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center;
        align-items: center;
    }

    .solution-tittle {
        font-size: 38px;
    }
}

@media screen and (max-width: 815px) {
    .header-mobile-menu {
        display: flex;
        justify-content: space-between;
    }

    .header-menu #close {
        display: block;
        height: 30px;
        width: 30px;
        fill: coral;
        position: absolute;
        right: 30px;
        top: 30px
    }

    .header-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        z-index: 999;
        justify-content: center;
        align-items: center;
        background: rgba(3, 16, 26, 1);
        display: none;
    }

    .header-menu .logo {
        display: none;
    }

    .header-menu--items {
        display: flex;
        flex-direction: column;
        font-size: 22px;
    }

    .header-menu--items a {
        margin: 15px 0;
    }

    .change-language {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .change-option {
        order: 2;
        max-width: 50px;
        margin-top: 10px;
    }

    .change-language a {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .problem-list-item {
        margin-right: 0;
    }

    .problem-list {
        margin-right: 100px;
    }
}

@media screen and (max-width: 768px) {
    .problem-list {
        margin-right: 70px;
    }
}

@media screen and (max-width: 590px) {
    .solution-tittle {
        font-size: 32px;
    }

    .contact-section-container form input {
        width: 297px;
    }

    .contact-section-container form input::placeholder {
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .enjoy-section-offer-tittle {
        font-size: 34px;
    }

    .enjoy-description {
        font-size: 21px;
    }

    .enjoy-section-offer {
        margin-right: -110px;
    }

    .solution-repeat {
        width: 116%;
    }

    .contact-section-container form button {
        width: 132px;
    }

    .problem-list {
        margin-right: 40px;
    }

    .contact-section::before {
        left: -33px;
        bottom: -516px;
    }

    .problem-section::before {
        top: -433px;
        left: -350px;
    }

    .problem-section::after {
        right: -575px;
    }
}

@media screen and (max-width: 500px) {
    .problem-list {
        margin-right: 0;
    }

    .problem-section::after {
        right: -690px;
    }

    .problem-tittle {
        font-size: 44px;
    }

    .problem-list {
        font-size: 19px;
    }

    .problem-list {
        margin-right: -30px;
    }

    .problem-section,
    .enjoy-section,
    .pricing,
    .contact-section {
        padding-bottom: 70px;
    }

    .enjoy-section-offer-tittle {
        font-size: 28px;
    }

    .enjoy-description {
        font-size: 18px;
    }

    .enjoy-section ul {
        font-size: 17px;
    }

    .enjoy-section-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header-blur {
    width: 200px;
    height: 200px !important;
    background: rgba(166, 6, 222, 0.58);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(80px);
    display: none;
}

@media screen and (max-width: 470px) {
    .enjoy-section-offer {
        max-width: 375px;
    }

    .solution-tittle {
        font-size: 26px;
    }

    .contact-section-container form input {
        padding: 0 5px;
    }

    .contact-section-container form input {
        width: 246px;
    }

    .contact-section-container form button {
        width: 99px;
    }

    .contact-section-container {
        padding-bottom: 40px;
        padding-top: 50px;
    }

    .header {
        position: relative;
    }

    .header-blur {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .header-phone-video::before,
    .header-phone-video::after,
    .header-phone-video::before,
    .problem-section::before,
    .problem-section::after,
    .enjoy-section::before,
    .pricing::before,
    .contact-section::before {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .enjoy-section {
        padding-bottom: 30px;
    }

    .enjoy-section {
        max-height: 550px;
    }

    .solution-repeat {
        width: 120%;
    }

    .solution-text {
        margin-right: 10px;
    }

    .pricing-card {
        max-width: 350px;
    }

    .problem-list {
        padding-right: 10px;
        font-size: 16px;
    }

    .problem-list-item {
        max-width: 320px;
    }

    .problem-list {
        align-items: flex-start;
        margin-left: 20px;
    }

    .problem-list-item {
        margin-top: 30px;
    }

    .problem-section {
        padding-top: 40px;
    }

    .enjoy-section-offer-tittle {
        margin-bottom: 30px;
    }

    .card-button {
        margin-left: -10px;
    }

}

/* Comment */